* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
ul,li,a {
    list-style: none; 
    text-decoration: none;
}
.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}

/* CSS Header */

.navbar__header {
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
}
.navbar__header ul {
    display: flex;
}
.navbar__header ul li:not(:last-child) {
    margin-right: 55px;
}
.navbar__header li {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #141C3A;
}

/* CSS Section Apresentacao */

.div__title {
    text-align: center;
    padding-top: 140px;
}

.div__title h1 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #141C3A;
    padding-bottom: 10px;
}
.div__title h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #141C3A;
}

.div__apresentacao .div__baixecv h2 {
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
}
.div__apresentacao .div__baixecv p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #b7aeae;
    padding: 20px 0;
}
.div__apresentacao .div__baixecv button {
    background-color: #5f00ba;
    border: none;
    padding: 18px 25px;
    border-radius: 150px;
}
.div__apresentacao .div__baixecv a {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
}
.div__baixecv {
    text-align: center;
}

.div__apresentacao {
    display: flex;
    align-items: center;
    padding-top: 160px;
}

.div__apresentacao .div__img img {
    width: 100%;
    display: inherit;
}

/* Section Sobre Mim */

.section__sobremim {
    background-color: #5f00ba;
    height: 650px;
}

.div__sobre {
    text-align: center;
    padding-top: 70px;
}
.section__sobremim .div__sobre h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fff;
    padding-bottom: 50px;
}
.section__sobremim .div__sobre p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 38px;
    color: #fff;
}

/* Section Linguagens */

.div__linguagens {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 100px;
    border: 1px solid #5be9b9;
}

.div__designer {
    text-align: center;
    padding: 30px 0;
}
.div__designer .designer__title h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #000;
    padding: 15px 0;
}
.div__designer .designer__title p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #3c3232;
    padding-bottom: 15px;
}
.div__designer .designer__idiomas h4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #5f00ba;
    padding-bottom: 15px;
}
.div__designer .designer__idiomas p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #000;
    line-height: 33px;
}

/* Section Trabalhos */

.div__trabalhos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trabalhos__title {
    text-align: center;
}
.section__trabalhos .trabalhos__title h2 {
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #141C3A;
    padding-top: 80px;
}
.section__trabalhos .trabalhos__title p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #141C3A;
    padding-top: 30px;
    padding-bottom: 100px;
}
.section__trabalhos .trabalhos__title a {
    color: #0066cd;
}

.container__trabalhos {
    position: relative;
    margin-bottom: 100px;
}
.container__trabalhos .icon__trabalhos {
    display: flex;
    position: absolute;
    top: 250px;
    left: 495px;
}
.container__trabalhos .icon__trabalhos a {
    margin-right: 15px;
}

/* Section Footer */

footer {
    text-align: center;
    background-color: #5f00ba;
}
footer .container__title h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #fff;
    padding: 50px 0;
}
.container__contatos {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container__rodape p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.5px;
    font-style: italic;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 10px;
}

.container__info h4 {
    font-size: 24px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
}
.container__info p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: #b7aeae;
}

.contatos__info {
    margin-right: 50px;
}

.container__arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.container__arrow img {
    color: #000;
}